.navbar-light .navbar-nav .nav-link.active-link{
    color: var(--primeira-color);
    font-weight: bold;
}

.navbar-light{
    background-color: black;
}

.navbar-brand{
    color: white;
}

.nav-link{
    color: white;
}

.nav-link.active{
    color: white;
}

.navbar-toggler{
    color: white;
    background-color: white;

}
